<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.yyc.bot_tools.dao.profileMapper">
    <insert id="addProfile" parameterType="com.yyc.bot_tools.entities.Profile">
            insert into profile(profile_name,fname,lname,address1,address2,state,country)
            values (#{profileName},#{fname},#{lname},#{address1},#{address2},#{state},#{country})
    </insert>

    <select id="selectAllProfile" resultType="com.yyc.bot_tools.entities.Profile">
            select * from profile
    </select>

    <update id="updateProfile" parameterType="com.yyc.bot_tools.entities.Profile">
            update profile
            set profile_name = #{profileName} , fname = #{fname} , lname = #{lname} , address1 = #{address1} , address2 = #{address2} , state = #{state} , country = #{country}
            where id = #{id}
    </update>

    <select id="selectProfileById" parameterType="integer" resultType="com.yyc.bot_tools.entities.Profile">
            select * from profile where id = #{id}
    </select>

    <delete id="deleteProfileById">
            delete from profile where id = #{id}
    </delete>

    <select id="countProfileNum" resultType="integer">
        select count(*) from profile
    </select>
</mapper>
